*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: apercu-pro, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
@font-face {
  font-family: apercu-pro;
  src: url(font/apercu_bold_italic_pro.otf);
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: apercu-pro;
  src: url(font/apercu_bold_pro.otf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: apercu-pro;
  src: url(font/apercu_medium_italic_pro.otf);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: apercu-pro;
  src: url(font/apercu_medium_pro.otf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: apercu-pro;
  src: url(font/apercu_regular_italic_pro.otf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: apercu-pro;
  src: url(font/apercu_regular_pro.otf);
  font-style: normal;
  font-weight: 400;
}
.black-button {
  background-color: black;
  color: white;
  border-radius: 10px;
  flex-shrink: 0;
}
header {
  display: flex;
  flex-direction: column;
}

.suggestion-container {
  background-color: black;
}
.suggestion {
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1535px;
  margin: auto;
}
.logo {
  flex-shrink: 0;
}
.suggestion a {
  color: white;
  font-weight: 500;
}
nav{
  background-color:rgba(255, 255, 255, 0.9);
  backdrop-filter:  blur(20px);
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 16px;
  color: #191919;
  margin: auto;
  max-width: 1535px;
}
.nav-links {
  display: flex;
  gap: 16px;
}
.link {
  text-decoration: none;
  color: black;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 18px;
}
.nav-buttons a {
  text-decoration: none;
  font-weight: 500;
}
.signup {
  background-color: black;
  padding: 8px 16px;
  color: white;
  border-radius: 10px;
  flex-shrink: 0;
}
.signup:hover {
  opacity: 0.7;
  transition: opacity 1s;
}
.login {
  color: black;
  flex-shrink: 0;
}
.login:hover {
  opacity: 0.7;
  transition: opacity 1s;
}
.navigation .nav-links div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
}
.navigation .nav-links div:hover {
  opacity: 0.6;
  transition: opacity 1s;
}
.navigation .nav-links div:hover img {
  transform: rotateX(180deg);
  transition: transform 1s;
}
main {
  display: flex;
  justify-content: flex-start;
  padding: 48px 16px;
  gap: 40px;
  margin: auto;
  max-width: 1535px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
video {
  width: 100%;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
h1 {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1;
}
.content p {
  font-size: 20px;
  padding-top: 32px;
  padding-bottom: 40px;
}
.content a {
  background-color: #191919;
  color: white;
  padding: 12px 20px;
  font-weight: 400;
  text-decoration: none;
  width: 200px;
  border-radius: 12px;
  text-align: center;
}
.rating-module {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  padding: 64px 16px;
}
.rating-module .company-logos {
  display: flex;
  gap: 75px;
}
.rating-module p {
  text-align: center;
  font-size: 20px;
}

.h2-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 1535px;
  padding: 96px;
  padding-top: 80px;
  padding-bottom: 0;
}
h2 {
  font-weight: 400;
  letter-spacing: -0.02em;
  font-size: 64px;
}
section.two , section.one{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  max-width: 1535px;
  padding: 96px 48px;
}
h3 {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.video-container.two {
  width: 40%;
}
.content2 {
  width: 34%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.content2 p {
  font-size: 20px;
}
.content2 strong {
  font-weight: bold;
}
a.black-button {
  width: 160px;
  text-align: center;
  padding: 12px 24px;
}
.integrations-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  max-width: 1535px;
  gap: 24px;
  justify-content: flex-start;
  padding: 96px 80px;
}
.integrations-section .title h3 {
  font-size: 30px;
  padding-bottom: 40px;
}
.integrations-section img {
  background-color: #f7f7f6;
  padding: 32px;
  border-radius: 52px;
  width: 256px;
  height: 256px;
}
.integrations-section .title {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.integrations-section .title a {
  text-decoration: black underline;
}
.integrations-section .big-logos{
  display: flex;
  gap: 30px;
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features h2 {
  padding: 10px;
}
.features p {
  font-size: 24px;
  padding-bottom: 90px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
  justify-content: center;
  margin: auto;
  max-width: 1535px;
}
.features-list ul {
  background-color: #f7f7f6;
  border-radius: 24px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.features-list ul:hover{
  background-color: black;
  color: white;
}
.features-list  ul a{
  text-decoration: none;
  font-weight: 400;
}
.features-list ul:hover a{
  color: white;
  font-weight: 400;
}
.features-list ul:hover img{
  color: white;
}

.features-list h4 {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 20px;
}
.features-list li {
  font-size: 20px;
  list-style: none;
}
.features a {
  text-decoration: black underline;
  font-weight: bold;
  font-size: 20px;
  padding: 70px 0;
}

.resons-for-buy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: auto;
  max-width: 1535px;
  padding: 0 80px;
}
.resons-for-buy h2 {
  font-size: 64px;
  padding-bottom: 16px;
}
.percentage-description {
  display: flex;
  justify-content: space-evenly;
  padding: 96px 0;
}
.resons-for-buy span {
  padding-bottom: 32px;
  font-size: 24px;
}
.resons-for-buy .percent {
  font-size: 80px;
  font-weight: 400;
}
.percentage-description div {
  display: flex;
  width: 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  font-size: 24px;
  text-align: center;
}
footer{
  background-color: #191919;
  color: white;
}
.black-area{
  margin: 0;
}
.black-area a{
  color: white;
}
.plans-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0;
}
.plans-section h3{
  font-size: 64px;
  letter-spacing: -0.02em;
  line-height: 1.1;
  padding-bottom: 20px;
  text-align: center;
}
.plans-section #topic{
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}
.plans-section .text{
  font-size: 20px;
  padding-bottom: 10px;
}
.plans-section .buttons{
  text-align: center;
  font-size: 16px;
  padding: 35px;
  display: flex;
  gap: 25px;
}
#white-signup-button{
  background-color: white;
  color: #191919;
  padding: 8px 16px;
  border-radius: 10px;
  width: 140px;
}
#comapare-plan-button{
  border: 1px solid white;
  padding: 8px 16px;
  border-radius: 10px;
}
#comapare-plan-button:hover,#white-signup-button:hover{
  opacity: 0.7;
  transition: opacity 1s;
}
.all-links{
  display: flex;
  justify-content: center;
  padding: 80px 32px;
  gap: 100px;
}
.all-links h4{
  padding-bottom: 25px;
}
.all-links .columns{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.expanding-links:hover{
  opacity: 0.8;
}
.non-expanding-link:hover{
  transform: translateX(8px);
  transition: transform 0.2s ease-in 0s;
}
.columns a{
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.social-media{
  display: flex;
  gap: 10px;
}
.social-media a:hover{
  opacity: 0.8;
}
.last-section{
  display: flex;
  justify-content: center;
  gap: 90px;
  padding: 40px 32px;
  border-top: 1px rgb(61, 61, 60) solid;
}
.last-section a{
  color: white;
  text-decoration: 1px underline white;
  font-size: 14px;
}
.last-section a:hover{
  color: rgb(160, 160, 160);
}
.last-section div{
  display: flex;
  gap: 20px;
}
.last-section span{
  display: flex;
  gap: 8px;
}
#language:hover{
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width:1280px){
  .content h1{
    font-size: 64px;
  }
  
}
@media screen and (max-width:1024px){
  main{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
  }
  main .content{
    align-items: center;
    width: 65%;
    text-align: center;
  }
  main .content h1{
    font-size: 48px;
  }
  main .content br{
    content: '';
  }
  main .video-container{
    width: 80%;
  }
  .rating-module .company-logos{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  section.one,section.two{
    flex-direction: column;
    align-items: center;
  }
  .video-container.two{
    width: 80%;
  }
  .content2{
    width: 80%;
  }
  .content2 h3{
    font-size: 30px;
  }
  .integrations-section{
    flex-direction: column;
  }
  .integrations-section .title{
    width: 100%;
    align-items: center;
  }
  .integrations-section .title h3{
    padding-bottom: 20px;
  }
  .features-list ul{
    width: 45%;
  }
  .percentage-description{
    flex-direction: column;
    align-items: center;
    
    
  }
  .percentage-description div{
    flex-direction: row;
    width: 100%;
    gap: 25px;
    align-items: center;
    justify-content: flex-start;
  }
  section.all-links{
    flex-wrap: wrap;
  }
}